<div style="padding: 10px;">
  <div style="width: 144px; height: 160px;">
    LCD goes here!
  </div>
  <mat-card style="width: calc(50% - 52px); display: inline-block;">
    <mat-card-header>CPU Info</mat-card-header>
    <mat-card-content>
      <ul>
        <li><code>AF: 0x{{gameBoy.getCpuInfo().registers.AF.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
        <li><code>BC: 0x{{gameBoy.getCpuInfo().registers.BC.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
        <li><code>DE: 0x{{gameBoy.getCpuInfo().registers.DE.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
        <li><code>HL: 0x{{gameBoy.getCpuInfo().registers.HL.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
        <li><code>SP: 0x{{gameBoy.getCpuInfo().registers.SP.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
        <li><code>PC: 0x{{gameBoy.getCpuInfo().registers.PC.toString(16).toUpperCase().padStart(4, '0')}}</code></li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: calc(50% - 52px); display: inline-block;">
    <mat-card-header>Memory Info</mat-card-header>
    <mat-card-content style="height: 200px; overflow: auto;">
      <ul>
        <!--<li *ngFor="let item of gameBoy.getMemoryInfo().all; let i = index">
          <code>{{i}} - {{item}}</code>
        </li>-->
      </ul>
    </mat-card-content>
  </mat-card>

  <div style="margin-top: 10px;">
    <button mat-raised-button (click)="gameBoy.tick()">tick</button>
    <div class="form-group">
      <label for="file">Choose ROM</label><br>
      <input type="file" id="file" (change)="handleFileInput($event)">
    </div>
  </div>
</div>
